@font-face {
    font-family: 'font';
    src: url('../fonts/EfourHeadline-CYR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  * { box-sizing: border-box; margin: 0; padding: 0; }
  
body {
    background: #0D1B1E;
    font-family: var(--main-font);  
    color: #F0FDFA;
    font-size: 16px;
}

:root {
    --main-font: 'font', Arial, sans-serif;
  }
.head {
    background: #0f9d74;
    height: 10vh;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    font-size: large;
    color: #F0FDFA;
}
.contacts-text:hover,
a:hover, 
button:hover {
    color: #0D1B1E;
}

.contacts, a, .contacts-text {
    transition: color 0.3s ease;
}

.contacts{
    border: none;
    background: none;
    margin: 0;
    cursor: pointer; 
}
.r-text-head {
    display: flex;
    justify-content: flex-end;
}
.contacts-text{
    font-family: var(--main-font); 
    font-size: 24px;
    color: #F0FDFA;
}
.l-text-head {
    display: flex;
}
.logo {
    height: 50px;
    border-radius: 10%;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: #2DD4BF;
    border-radius: 10px; 
    z-index: 10;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%); 
    padding: 5px;
    min-width: 160px;
}
.menu-content.show {
    display: block;
}
.dropdown{
    position: relative;
    display: inline-block
}
  
/* Для мобильных устройств (ширина меньше 768px) */
@media (max-width: 767px) {
    .menu-content {
        position: relative;
    }

    .head {
        height: auto;
        padding: 10px;
        gap: 10px;
        text-align: center
    }
    .head .r-text-head {
        flex-direction: column;
    }
    .head .l-text-head {
        justify-content: flex-start;
    }

    .r-text-head {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .contacts-text {
        font-size: 20px;
    }
}
/* --- Планшеты и небольшие ноутбуки (>= 768px) --- */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}
/* --- Компьютеры и большие экраны (>= 1200px) --- */
@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
}