@font-face {
    font-family: 'font';
    src: url('../fonts/EfourHeadline-CYR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
body {
    margin: 0;
    background: PapayaWhip;
    font-family: font, Arial, sans-serif;   
}
.head {
    background: Wheat;
}
a {
    text-decoration: none;
}